body{
  height: 100%;
}
header{
	color: #f0ffff;
	display: flex;
    justify-content: center;
    align-items: center;
	min-height: 4rem;
    background-color: #2A3440;
}
section{
	margin-top: 40px;
	margin-bottom: 40px;
}

.model_wrapper .model__item{
	margin-bottom: 20px;
}
.model_wrapper .model__item .model-item_title{
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 18px;
}


footer{
  color: #f0ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4rem;
  background-color: #2A3440;

/*  position: inherit;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  min-width: 320px;*/
}


ul.pagination {
    display: flex;
    justify-content: start;
}
.pagination {
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 15px;
}

.pagination  li:first-child  a, .pagination  li:first-child  span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.pagination  li:last-child  a, .pagination  li:last-child  span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {
  background-color: #007bff;
  border-color: #007bff;
  color: #FFFFFF;
  cursor: default;
  z-index: 2;
}

.pagination  li  a, .pagination  li  span {
  background-color: #f0f0e9;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color:#000;
}

.pagination  li  a:hover{
	background:#007bff;
	color:#fff;
}

